
@font-face {
    font-family: 'Azonix';
    src: url('fonts/Azonix-1VB0.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    background: black;
    font-size: 20px;
    font-family: 'Azonix';
    margin: 0px;
    color: rgb(179, 117, 255);
}

.contentBlock {
    background: rgb(0, 2, 29);
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    
    border: 5px solid;
    
}

.heading {
    width: 100%;
    display: flex;
    justify-content: left;
    background: darkslateblue;
}

.headerBlock {
    width:100%;
    height: 60px;
    margin: 5px;
    background-color: rgb(37, 31, 71);
    text-align: center;
}

.descriptorName {
    font-size: 30px;
}

span {
    vertical-align: 0px;
    margin: 0px;
    line-height: 60px;
    color: rgb(179, 117, 255);
}

p {
    margin: 10px;
    color: rgb(179, 117, 255);
}
a {
    text-decoration: none;
}

.bigText {
    color: rgb(179, 117, 255);
    font-size: 150px;
    text-align: center;
    vertical-align: middle;
    margin: 20px;

    background: -webkit-linear-gradient(rgb(116, 65, 255), rgb(185, 80, 80));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}